* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.header {
  padding: 40px 0;
  max-width: 1110px;
  margin: 0 auto;
}

.conteiner {
  max-width: 1110px;
  margin: 0 auto;
}

.top {
  float: left;
  vertical-align: middle;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
}

.top::first-letter {
  color: rgb(26, 188, 156);
  font-weight: bold;
}

.menu {
  float: right;
  margin-top: 6px;
}

.menu_item {
  float: left;
  margin-right: 33px;
}

.menu_link {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  line-height: 0.786;
}

.menu_item:last-child {
  margin-right: 0;
}

.menu_link:hover {
  color: rgb(26, 188, 156);
}

.slider {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 2, 0.522), rgba(0, 0, 2, 0.522)),
    url(../img/slide4.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 600px;
}

.slider__content {
  position: absolute;
  top: 206px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.slider__top {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  color: rgb(255, 255, 255);
  letter-spacing: -1.2px;
}

.slider__text {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  color: rgb(255, 255, 255);
}

.arrow {
  width: 1110px;
  position: absolute;
  top: 228px;
  left: 245px;
  transform: translateX(-50);
}

.arrow__left {
  background-image: url(../logo/arrow_left.png);
  background-color: rgba(78, 198, 171, 0.651);
  border: none;
  width: 106px;
  height: 106px;
  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}

.arrow__right {
  background-image: url(../logo/arrow_right.png);
  background-color: rgb(26, 188, 156);
  border: none;
  float: right;
  width: 106px;
  height: 106px;
  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}

.background {
  background-color: rgb(233, 240, 253);
  min-height: 676px;
  background-size: cover;
  padding-top: 94px;
}

.title {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  /* font-weight: 900; */
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.title::after {
  content: "";
  display: block;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 30px;
}

.model {
  float: left;
  margin-right: 30px;
  position: relative;
}

.model:last-child {
  margin-right: 0;
}

.buttom {
  border: none;
  background: rgb(50, 50, 50);
  width: 255px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  transform: translateY(0%);
}

.description {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  float: left;
  width: 200px;
  height: 40px;
  padding-left: 16px;
  padding-top: 4px;
}

.cost {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.439);
  line-height: 1.778;
  float: left;
  width: 55px;
  height: 40px;
  text-align: center;
  padding-top: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.549);
  border: 12px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
}

.model:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.social-list {
  width: 166px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.menu__link-list {
  float: left;
  margin-right: 9px;
  border: none;
}

.menu__link-list:nth-child(3) {
  margin-right: 0;
}

.menu__link-list:last-child {
  margin-right: 0;
}

.menu__link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  margin-bottom: 9px;
}

.menu__link-list:last-child .menu__link {
  width: 166px;
  margin-bottom: 0;
  float: left;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
}

.menu__link-list:last-child .menu__link:hover {
  border-width: 1px;
  border-color: rgb(26, 188, 156);
  border-style: solid;
  background-color: rgb(26, 188, 156);
}

.menu__link-list:first-child .menu__link {
  background-image: url("../logo/heart.png");
}

.menu__link-list:nth-child(2) .menu__link {
  background-image: url("../logo/arrows.png");
}

.menu__link-list:nth-child(3) .menu__link {
  background-image: url("../logo/clock.png");
}

.menu__link-list:last-child .menu__link {
  background-image: url("../logo/basket.png");
}

.menu__link:hover {
  border-width: 1px;
  border-color: rgb(26, 188, 156);
  border-style: solid;
  background-color: rgb(26, 188, 156);
  width: 48px;
  height: 48px;
}

.footer {
  background-color: rgb(50, 50, 50);
  height: 88px;
}

.footer__text {
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  color: rgb(254, 254, 254);
  line-height: 1.75;
  width: 394px;
  height: 17px;
  margin: 0 auto;
  padding-top: 34px;
}

.link {
  color: rgb(26, 188, 156);
}
