.content {
    margin: 0 90px;
}

.navigation {
    display: inline-block;
    max-width: 1133px;
}

.menu {
    list-style-type: none;
    margin-block-start: 0;
    line-height: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-align: center;
    display: inline-block;
}

.menu_item {
    width: 243px;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.menu_link {
    margin-top: 50px;
    display: block;
    padding: 5px 70px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_link:hover {
    color: lightblue;
}

.block {
    margin: 0 90px;
    padding: 60px;
    display: inline-block;
    text-align: center;
}

.block_one {
    float: left;
    width: 420px;
    padding: 0 15px;
    text-align: justify;
}

.block_two {
    padding: 0 15px;
    float: right;
    width: 420px;
    text-align: justify;
}

.wrapper {
    max-width: 1114px;
    text-align: center;
    margin-bottom: 10px;
}

.button {
    width: 165px;
    height: 60px;
    text-decoration-color: gray;
    display: inline-block;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.img {
    width: 420px;
    height: 287px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.sign {
    content: "";
    text-transform: uppercase;
    color: lightgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: darkgray;
}