.content {
max-width: 980px;
margin: 0 auto;
}
.navigation {

}
.menu {
    margin: 0;
    padding: 0;
text-align: center;
}
.menu_item {
    margin: 0;
    padding: 0;
display: inline-block;
text-decoration: none;
text-align: center;
}
.menu_link {
    margin-top: 50px;
display: block;
padding: 5px 70px;
text-decoration: none;
text-transform: uppercase;

}
.block {
    margin: 10px 270px;
    width: 980px;
    display: inline-block;
    text-align: center;
}
.block_one {
    float: left;
    width: 421px;
    padding: 15px;
    text-align: justify;
}
.block_two {
    padding: 15px;
    float: right;
    width: 421px;
    text-align: justify;
}
.button {
   position: absolute;
   top: -50px;
}