/* montserrat-regular - cyrillic_latin */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("../fonts/montserrat-v14-cyrillic_latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-cyrillic_latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic_latin */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
        url("../fonts/montserrat-v14-cyrillic_latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-cyrillic_latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - cyrillic_latin */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"),
        url("../fonts/roboto-v20-cyrillic_latin-300.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-cyrillic_latin-300.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - cyrillic_latin */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

picture {
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*HEADER*/


.header {
    padding-top: 1.75rem;
    padding-bottom: 7.3125rem;
    background-image: linear-gradient(rgba(26, 25, 21, 0.2),
            rgba(26, 25, 21, 0.2)),
        url(../img/VectorSmartObject.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.conteiner {
    margin-bottom: 1.125rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1.75rem;

}

.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7.875rem;

}


.link {
    text-decoration: none;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0.5625rem 0.75rem;
    letter-spacing: 0.075rem;
}

.link:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.logo {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 auto;
    letter-spacing: 0.0813rem;
}

h2 {
    font-size: 1.875rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0.5rem;
}

.text {
    font-size: 1.125rem;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.0375rem;

}

.text__wrapper {
    margin-bottom: 1.125rem;
}

.button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    width: 17.5rem;
    height: 2.5rem;
    letter-spacing: 0.025rem;
    border-color: rgb(255, 78, 80);
    border-width: 0;
}

/*MAIN*/


.main {
    padding-top: 4.0625rem;
    padding-bottom: 3.5rem;
}

.title {
    font-size: 1.375rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.0656rem;
    margin-bottom: 0.875rem;
}

.team__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.1875rem;
}

.pos {
    position: relative;
}


img {
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.0625rem;
}

.link__social {
    display: block;
    width: 2.3125rem;
    height: 2.3125rem;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 2.8125rem;
}

.team__list-person:first-child .link__social {
    background-image: url(../img/logo/tv.png);
    background-color: rgb(255, 78, 80);
}

.team__list-person:nth-child(2) .link__social {
    background-image: url(../img/logo/chem.png);
    background-color: rgb(255, 165, 7);
}

.team__list-person:nth-child(3) .link__social {
    background-image: url(../img/logo/cup.png);
    background-color: rgb(28, 215, 173);
}

.team__list-person:last-child .link__social {
    background-image: url(../img/logo/Teleg.png);
    background-color: rgb(78, 115, 219);
}

.name {
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0.875rem;
    letter-spacing: 0.0437rem;
}

.information {
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
}

.team__list-person:not(:last-child) {
    margin-bottom: 1.5rem;
}

.button__person {
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 78, 80);
    font-weight: bold;
    border-width: 0;
    line-height: 1.2;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 78, 80);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 17.75rem;
    height: 2.75rem;
}

@media (min-width: 48rem) {
    .header {
        padding-top: 2.875rem;
        background-image: linear-gradient(rgba(26, 25, 21, 0.2),
                rgba(26, 25, 21, 0.2)),
            url(../img/VectorSmartObjectT.png);
        padding-bottom: 14.5625rem;
    }

    .navigation {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 9.1875rem;
    }

    .top {
        font-size: 3.25rem;
        font-family: "Montserrat", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.075rem;
        text-align: center;
        margin-bottom: 1.375rem;
    }

    .text {
        display: inline;
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.075rem;
    }

    .text:last-child {
        padding-left: 0;
    }

    .text__wrapper {
        margin-bottom: 2.125rem;
        text-align: center;
    }

    .button {
        width: 14.125rem;
        height: 2.5rem;
    }


    /*MAIN*/

    .main {
        padding-top: 4.25rem;
        padding-bottom: 2.25rem;
    }

    .team__list {
        display: flex;
        flex-direction: column;
        max-height: 33.125rem;
        flex-wrap: wrap;
        margin-bottom: 2.125rem;
    }

    .team__list-person:not(:nth-child(2n)) {
        margin-bottom: 3.125rem;
    }

    .title {
        margin-bottom: 2.25rem;
    }

    .button__person {
        width: 12.3125rem;
        height: 2.75rem;
    }

}

@media (min-width: 1440px) {}