* {
    margin: 0;
    padding: 0;

}
body {
    /* background: #808080; */
    font-family: serif;
    /* background-image: linear-gradient(to left bottom, #564686, #c5179f);диагональный градиент */
    /* background-image: linear-gradient(to left, #564686, #c5179f); с лева на право */
    /* background-image: linear-gradient(to right, #475854 10%,#457885 25%) градиент: переход с определенного процента от родителя */

    min-height: 100px;
}
.image {
    /* filter: blur(1px); */
    filter: 
}
> div {

}
div::before {
    content: "";
    font-size: 20px;
    color: green;
    display: inline-block;
    height: 20px;
    weight: 20
}